<main class="container">
  <div class="cartContainer">
    <h5 class="text-center">CARRITO DE COMPRA</h5>
    <h6 class="text-center cartEmpty"></h6>
    <div class="cart">
      <div class="cartProducts">
        {{#if carts.products}}
          {{#each carts.products}}
        <div class="detailCart">
          <div class="imageContainer">
            <img src="{{this.product.thumbnails}}" width="80px" alt="">
          </div>
          <div class="containermenu">
            <ul>
              <li class="product">
                <div class="name">{{this.product.brands}}</div>
                <div class="brands">{{this.product.name}}</div>
                Quantity: <span class="quantity">{{this.quantity}}</span> <br>
                $<span class="price">{{this.product.price}}</span> <br>
              </li>
            </ul>
          </div>
        </div>
          {{/each}}
      </div>
      <div class="cartFooter container">
        <div class="cartButton">
          <h5>TOTAL:
            <span id="totalPrice" class="total"></span>
          </h5>
          <input type="hidden" id="cartId" value="{{this.user.cart}}">
          <button>INICIAR COMPRA</button>
          <button id="deleteCartButton" onclick="deleteCart()">BORRAR CARRITO</button>
        </div>
      </div>
      {{else}}
      <h6 class="text-center cartEmpty">Tu carrito esta vacio</h6>
      {{/if}}
    </div>
  </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>